[
    {
        "filetype": "png",
        "id": "Eco_Teams_Office_Gray_Light_Piattaforme",
        "name": "Eco Office Gray Light Piattaforme",
        "$src_localpath": "/home/magius/Desktop Work/Sede/Sfondi Teams e LinkedIn/Sfondi Teams def/Teams_Office_Gray_Light_Piattaforme.png",
        "$thumb_src_localpath": "/home/magius/Desktop Work/Sede/Sfondi Teams e LinkedIn/Sfondi Teams def/Teams_Office_Gray_Light_Piattaforme.png",
        "src": "/Eco_Teams_Office_Gray_Light_Piattaforme/img.png",
        "thumb_src": "/Eco_Teams_Office_Gray_Light_Piattaforme/img.png"
    }
]